{% extends "handyman/base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<!-- Main About section -->
    {% block about %}

<main>
    <section class="about">
         <h1>About Us</h1>
        <p>
          Welcome to academicHandyMan360, a handyman service company run by
          Virginia Tech students, for Virginia Tech students and faculty. Our
          mission is to provide reliable and efficient handyman services to the
          Virginia Tech community, helping you with a wide range of repairs and
          maintenance needs.
        </p>

        <h2>Our Commitment</h2>
        <p>
          We are deeply committed to serving the Virginia Tech community. As
          students and members of this vibrant community ourselves, we
          understand the unique needs and challenges you face. Our team of
          skilled handymen is dedicated to delivering high-quality services with
          a personal touch.
        </p>

        <h2>Why Choose academicHandyMan360?</h2>
        <ul>
          <li>
            <strong>Community-Driven: </strong>We are proud to be a part of the
            Virginia Tech community, and our services are tailored to meet the
            needs of our fellow students, faculty, and staff.
          </li>
          <li>
            <strong>Experienced Team: </strong>Our handymen are experienced
            professionals who take pride in their work, ensuring your
            satisfaction with every job.
          </li>
          <li>
            <strong>Convenience: </strong>We understand your busy schedule,
            which is why we offer flexible appointment options to suit your
            needs.
          </li>
        </ul>
    </section>
</main>
        {% endblock %}
{% endblock %}
