{% extends "handyman/base.html" %}
{% load static %}

{% block page-title %}Appointments{% endblock %}

{% block appointments %}
  <h1>My Appointments</h1>
  <div class="appointment-list">
    <!-- List of current appointments -->
    <div class="appointment">
      <h2>Appointment with John Snow</h2>
      <p>Date: [September 20, 2023]</p>
      <p>Time: [10:30 AM]</p>
      <p>Contact: [Please see contact details]</p>
      <p>Service: [Furniture Assembly]</p>
    </div>
  </div>
{% endblock %}
